@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Lunasima:wght@400;700&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html {
  background-color: #EEECE6;
}

body {
  margin: 0;
}

header {
  display: flex;
  margin: 0.5% 0.5% 0.5% 0.5%;
}

main hr {
  max-width: 800px;
  margin: 10px auto 10px auto;
  background-color: #246D42;
  border: none;
  height: 3px;
  text-align: left;
}
main b {
  font-weight: bold;
}

#title {
  display: flex;
  flex: 80%;
  font-family: "Lunasima", sans-serif;
}
#title h1 {
  margin: 0;
  font-size: 2em;
  font-weight: bold;
}
#title h2 {
  margin: 3px 0 0 0;
  font-size: 1.5em;
}

#titleText {
  margin: auto 0 auto 1%;
}

#hours {
  flex: 20%;
  font-family: "Lunasima", sans-serif;
  text-align: center;
  margin: auto;
}
#hours p {
  font-size: 1.5em;
  margin: 0;
}
#hours small {
  font-size: 1.2em;
  margin: 0;
}
#hours hr {
  max-width: 60%;
  margin: 5px auto 5px auto;
  background-color: #246D42;
  border: none;
  height: 3px;
}

#landing {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  background-image: url("img/riverbackground.jpg");
  background-size: 2000px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-backdrop-filter: blur(1000px);
          backdrop-filter: blur(1000px);
}
#landing nav {
  width: 50%;
  text-align: center;
  background-color: #246D42;
  border-radius: 0 0 50px 0;
  font-family: "Lunasima", sans-serif;
  font-size: 1.5em;
}
#landing nav ul {
  margin: 0;
  padding: 5px;
  list-style: none;
}
#landing nav li {
  display: inline;
  margin: 0 0.5em 0 0.5em;
}
#landing nav a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.25s;
}
#landing nav a:hover {
  color: #F9D847;
  transition: color 0.25s;
}
#landing #advert {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 90%;
}
#landing #advert h2 {
  margin-bottom: 20px;
  max-width: 50%;
  font-family: "Lunasima", sans-serif;
  font-size: 3.5em;
  font-weight: bold;
  color: #ffffff;
}
#landing #advert a {
  width: 15%;
  margin: 0 auto 0 auto;
  background-color: #5B723C;
  padding: 5px;
  font-family: "Lunasima", sans-serif;
  font-size: 2em;
  text-decoration: none;
  color: #ffffff;
  border-radius: 10px;
  transition: border 0.25s;
  transition: color 0.25s;
}
#landing #advert a:hover {
  color: #F9D847;
  transition: color 0.25s;
  transition: border 0.25s;
}

#reservations {
  font-family: "Lunasima", sans-serif;
  font-size: 1.5em;
  text-align: center;
}
#reservations h3 {
  margin: auto;
  padding: 10px;
  background-color: #246D42;
  width: 100%;
  color: #ffffff;
}

#about {
  font-family: "Inter", sans-serif;
  margin: 0.5% auto auto auto;
  text-align: center;
}
#about h3 {
  font-weight: 600;
  font-size: 2em;
  color: #5B723C;
}
#about p {
  margin: auto;
  padding-top: 5px;
  padding-bottom: 10px;
  font-weight: regular;
  font-size: 1.4em;
  max-width: 1000px;
}

#faq {
  font-family: "Inter", sans-serif;
  margin-top: 0.5%;
  margin-left: 0.5%;
}
#faq h3 {
  font-weight: 600;
  font-size: 1.75em;
  color: #5B723C;
}
#faq ul {
  list-style: inside;
}/*# sourceMappingURL=styles.css.map */